<!DOCTYPE html>
<html>

<head>
    <title>崇文书局</title>
    <#include "../../include/public_file.ftl" />

    <!--<link rel="stylesheet" href="/static/mobile/css/classify.css">-->
    <!--<script type='text/javascript' src='/static/mobile/js/classify.js' charset='utf-8'></script>-->
</head>
<body id="details" style="background:#fff;">
<header class="bar bar-nav" style="background:#fff;">
    <a class="button button-link button-nav pull-left back" href="/classify/goods">
        <span class="icon icon-left"></span>
        返回
    </a>
    <h1 class="title" style="border-bottom: 1px solid #e7e7e7;">返回上一步</h1>
</header>
<!--页面内容区域-->
<div class="content" style="bottom:2.5rem;background:#f4f4f4;">
    <!--<div class="card" style="margin:0;box-shadow:none;">-->
        <!--<div class="card-content">-->
            <!--<div class="list-block media-list">-->
                <!--<ul>-->
                    <!--<li class="item-content">-->
                        <!--<div class="item-media">-->
                            <!--<img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="100" height="120">-->
                        <!--</div>-->
                        <!--<div class="item-inner">-->
                            <!--<div class="item-title-row">-->
                                <!--<div class="item-title" style="width:100%;">-->
                                    <!--<span>你可以哭，但不能输</span>-->
                                    <!--<i class="icon icon-star" style="font-size:1rem;vertical-align:initial;float:right;"></i>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="item-subtitle">电子书售卖</div>-->
                            <!--<div class="item-subtitle">-->
                                <!--<span>采薇</span>著 <span>人民日报出版社</span>-->
                            <!--</div>-->
                            <!--<div class="item-subtitle"><span  style="color:red;">&#65509;</span><i>14.99</i ><i style="text-decoration:line-through;color:#ccc;margin-left:0.5rem;">29.99</i></div>-->
                            <!--<div class="item-subtitle" style="color:#ccc;font-size:0.5rem;">限时优惠: <span>剩余9天7时32分04秒</span></div>-->
                        <!--</div>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="list-block media-list">-->
        <!--<ul>-->
            <!--<li>-->
                <!--<div class="item-content">-->
                    <!--<div class="item-inner">-->
                        <!--<div class="item-title-row">-->
                            <!--<div class="item-title"><i></i>作品详情</div>-->
                            <!--<div class="item-after"><i class="icon icon-down"></i></div>-->
                        <!--</div>-->
                        <!--<div class="item-subtitle">-->
                            <!--<span>军阀割据时代，江左巡阅使易继培为扩张势力，与义州李重年争雄江左，北方慕容宸霸踞中原，虎视眈眈。易继培的大公子易连怡风华正茂时被设计坠马瘫痪，二公子易连慎骁勇善战，三公子易连恺却纵情声色，以风流倜傥闻名。易连恺在年少时偶遇秦桑后费尽心思娶秦桑过门，不想秦桑也是怀着别样心思嫁入易家。不论婚后易连恺在外如何纸醉金迷、嚣张跋扈，秦桑都以局外人的冷漠眼光看着他，挑明了嫁给他就是为了父亲可以重回官场，甚至愿意在达成愿望后成全易连恺。身份神秘的秦桑前男友郦望平此时却化名潘箭迟刻意接近易连恺，成了他的贴身副官。时局突变，最有可能成为易家接掌人的二公子易连慎却成了六叔易绶城的儿子，易家大公子查到当年害自己坠马的也是易绶城，易连恺发现知道当年母亲去世疑团的人是易绶城，潘箭迟追随的天盟会首领还是易绶城。内外交迫、兄弟阋墙中，易连恺拼尽全力不惜以身犯险保护秦桑，秦桑也在数度生死相依中渐渐爱上了易连恺</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
<nav class="bar bar-tab">
    <a class="tab-item external" href="/">
        <span class="icon iconfont icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item external " href="/bookshelf">
        <span class="icon iconfont icon-books"></span>
        <span class="tab-label">书架</span>
    </a>
    <a class="tab-item external active" href="/classify">
        <span class="icon iconfont icon-fenlei1"></span>
        <span class="tab-label">分类</span>
    </a>
    <a class="tab-item external" href="#">
        <span class="icon iconfont icon-wode-"></span>
        <span class="tab-label">我的</span>
    </a>
</nav>
</body>
</html>
