<!DOCTYPE html>
<html>

<head>
    <title>崇文书局</title>
    <#include "../../include/public_file.ftl" />

    <!--<link rel="stylesheet" href="/static/mobile/css/classify.css">-->
    <script type='text/javascript' src='/static/mobile/js/goods.js' charset='utf-8'></script>
</head>
<body id="goods">
<header class="bar bar-nav" style="height:2.2rem;line-height:2.2rem;border-bottom:1px solid #ddd;padding:0 .5rem;background:#fff;">
    <a class="button button-link button-nav pull-left back" href="/classify" style="color:#545454;position:absolute;z-index:11;">
        <span class="icon icon-left"></span>
        返回
    </a>
    <#if cat_name ??>
         <h1 class="title" style="border-bottom: 1px solid #e7e7e7;">${cat_name}</h1>
    </#if>
</header>
<!--页面内容区域-->
<div class="content" style="bottom: 3.5rem;background:#fff;top:2.5rem;">
    <div class="content-block" style="margin:0;padding:0;">
        <div class="tabs">
            <div class="list-block" >
                <ul>
                    <#if list.rows ?? && list.rows?size != 0>
                        <#list list.rows as works>
                             <li class="item-content" onclick="on_touchW(${works.works_id})">
                                <div class="item-media">
                                    <#if works.works_cover_small ??>
                                        <img src="${ctxPath}${works.works_cover_small}" alt="" style="width:4rem;height:5.333rem;" />
                                    <#else>
                                        <img src="${ctxPath}/static/mobile/img/img404.png" alt="" style="width:4rem;height:5.333rem;" />
                                    </#if>
                                </div>
                                <div style="padding:0.5rem 0.75rem;width:100%;" >
                                    <h5 calss="item-title" style="overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:1;display: -webkit-box;min-height:1rem;">${works.works_name}</h5>
                                    <div class="item-subtitle" style="color:#000;font-size:0.7rem;">${works.works_type}</div>
                                    <#if works.works_remark ??>
                                        <p style="margin:0;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:2;display: -webkit-box;min-height:1.8rem;font-size:0.6rem;">${works.works_remark}</p>
                                        <#else>
                                        <p style="margin:0;min-height:2.5rem;"></p>
                                    </#if>
                                    <p class="footer" style="margin:0;font-size:0.6rem;">
                                        <span class="footer_left"><span  style="color:red;">&#65509;</span><span>${works.real_price}</span ><span style="text-decoration:line-through;color:#ccc;margin-left:0.5rem;">${works.price}</span></span>
                                        <span class="footer_right" style="float:right;">
                                        <!--<i class="icon icon-cart"></i>-->
                                        </span>
                                    </p>
                                </div>
                            </li>
                        </#list>
                    </#if>
                </ul>
            </div>
        </div>
    </div>
</div>
<nav class="bar bar-tab">
    <a class="tab-item external" href="/">
        <span class="icon iconfont icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item external " href="/bookshelf">
        <span class="icon iconfont icon-books"></span>
        <span class="tab-label">书架</span>
    </a>
    <a class="tab-item external active" href="/classify">
        <span class="icon iconfont icon-fenlei1"></span>
        <span class="tab-label">分类</span>
    </a>
    <a class="tab-item external" href="/my">
        <span class="icon iconfont icon-wode-"></span>
        <span class="tab-label">我的</span>
    </a>
</nav>
</body>

</html>